@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	--background-color: #faf8f8;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	color: rgb(var(--foreground-rgb));
	background: var(--background-color);
	font-family: "Plus Jakarta Sans", sans-serif;
}

@layer utilities {
	/* .text-balance {
    text-wrap: balance;
  } */
}

.step-item {
	@apply relative flex flex-col justify-center items-center w-56;
}
.step-item:not(:first-child):before {
	@apply content-[''] bg-slate-200 absolute w-full h-[3px] right-2/4 top-1/3 -translate-y-2/4;
}
.step {
	@apply w-10 h-10 flex items-center justify-center z-10 relative bg-slate-700 rounded-full font-semibold text-white;
}
.active .step {
	@apply bg-sky-600;
}
.complete .step {
	@apply bg-green-600;
}
.complete p {
	@apply text-black;
}
.complete:not(:first-child):before,
.active:not(:first-child):before {
	@apply bg-green-600;
}

/*CUSTOM STYLING*/
.glass {
	background: rgba(255, 255, 255, 0);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(16.7px);
	-webkit-backdrop-filter: blur(16.7px);
	border: 1px solid rgba(255, 255, 255, 0.03);
}

.u-class-1{
	width: 45%;
}